<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo">
    </header>
    <nav>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Crea tu Cuenta</li>
            <li>INgresa</li>
            <li>Mis Compras</li>
        </ul>
    </nav>
    <div class="add">
        <img src="/img/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section>
            <h2>Sección: Basado en tu última visita</h2>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                </div>
                <div class="description">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                </div>
                <div class="description">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <div class="description">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                </div>
                <div class="description">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>
        
        <section>
            <h2>Sección de Ofertas</h2>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                </div>
                <div class="description">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                </div>
                <div class="description">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <p>MacBook Pro 2019</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                </div>
                <div class="description">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <p>Samsung Galaxy S10</p>
                </div>
            </div>
            <div class="cart-product">
                <div class="img">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                </div>
                <div class="description">
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            Pagá con tarjeta o en efectivo
Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!
        </div>
        <div>
            Envío gratis desde $ 2.500
Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
        </div>
        <div>
            Seguridad, de principio a fin
¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
        </div>
        <div>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
    </footer>
</body>
</html>